.content {
  margin-top: 60px;
}

.loading {
  width: 100%;
  padding: 20%;
  text-align: center;
}

.card {
  margin: 20px 0px;
  cursor: pointer;
  transition: all .2s;
}

.card:hover {
  transform: scale(1.05);
  transition: all .2s;
}


main {
  padding: 20px 0px;
}